{% extends 'base_v2.html' %}
{% block head %}
{{super()}}
<title>Vehicles Page</title>

<style>


.page-main-column-first {
  float: left;
  width: 30%;
}
.page-main-column-first>* {
  margin-left: 10px;
  width: 100%;
}

.page-main-column-second {
  float: left;
  width: 70%;
}
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid black;
      padding: 10px;
    }
    
    th {
      background-color: lightgray;
    }
    
    input[type="submit"] {
      background-color: green;
      color: white;
      border: none;
      padding: 10px;
      margin-top: 10px;
    }
</style>

{% endblock %}
{% block content %}


{% if message is defined and message %}
<h2>{{message}}</h2>
{% endif %}

<h1>Vehicles</h1>

<div>    
    <div class="page-main-column-first">
      <form action="{{url_for('company.add_vehicle')}}" method="POST">
        <fieldset style="width: 30%">
            <legend>Enter new Vehicle</legend>
            <div>
                <label for="vehicle-code">Vehicle Code</label><br>
                <input type="text" id="vehicle-code" name="vehicle-code" value="Enter Vehicle Code">  
            </div>
            <div>
                <label for="economy-capacity">Economy Capacity</label><br>
                <input type="number" id="economy-capacity" name="economy-capacity" step="1" min="0" required>  
            </div>
            <div>
                <label for="business-capacity">Business Capacity</label><br>
                <input type="number" id="business-capacity" name="business-capacity" step="1" min="0" required>
            </div>
            <div>
              <label for="first-class-capacity">First Class Capacity</label><br>
              <input type="number" id="first-class-capacity" name="first-class-capacity" step="1" min="0" required>
            </div>
            <div>
                <label for="vehicle-model-name">Vehicle Model Name</label><br>
                <input type="text" id="vehicle-model-name" name="vehicle-model-name" required>  
            </div>
            <div>
                <label for="vehicle-model-year">Vehicle Model Year</label><br>
                <input type="number" id="vehicle-model-year" name="vehicle-model-year" required value="2000">  
            </div>
            <div>
              <label for="transportation-type">Transportation Type:</label>
              <select id="transportation-type" name="transportation-type" required>
                <option value="Bus">Bus</option>
                <option value="Train">Train</option>
                <option value="Flight">Flight</option>
              </select>
            </div>

            <input type="submit" value="Register Vehicle">
        </fieldset>
      </form>
    </div>
    <div class="page-main-column-second">
        <div class="contentbar">
            <table>
                <tr>
                    <th>Vehicle Code</th>
                    <th>Capacity</th>
                    <th>Availabilty</th>
                    <th>Model Name</th>
                    <th>Model Year</th>
                </tr>
                {% for vehicle in vehicles %}
                <tr>
                  <td>{{vehicle.vehicle_code}}
                    <form action="{{url_for('company.delete_vehicle', vehicle_code=vehicle.vehicle_code)}}" method="POST">
                      <input type="submit" value="Delete">
                    </form>
                  </td>
                  <td>e:{{vehicle.capacity_economy}}, b:{{vehicle.capacity_business}}, f:{{vehicle.capacity_firstclass}}</td>
                  {% if vehicle.availability %}
                  <td>Available</td>
                  {% else %}
                  <td>Busy</td>
                  {% endif %}
                  <td>{{vehicle.model_name}}</td>
                  <td>{{vehicle.year}}</td>
                </tr>
                {% endfor %}
            </table>                                
        </div>        
    </div>




</div>

{% endblock %}
